.flagContainer {
  vertical-align: middle;

  i {
    display: inline-block;
    width: 30px;
    height: 30px;
  }

  .Albania {
    background-position: 0px 0px;
  }
  .Argentina {
    background-position: -30px 0px;
  }
  .Armenia {
    background-position: 0px -30px;
  }
  .Australia {
    background-position: -30px -30px;
  }
  .Austria {
    background-position: -60px 0px;
  }
  .Azerbaijan {
    background-position: -60px -30px;
  }
  .Belarus {
    background-position: 0px -60px;
  }
  .Belgium {
    background-position: -30px -60px;
  }
  .Bolivia {
    background-position: -60px -60px;
  }
  .Bosnia-and-Herzegovina {
    background-position: -90px 0px;
  }
  .Brazil {
    background-position: -90px -30px;
  }
  .Bulgaria {
    background-position: -90px -60px;
  }
  .Canada {
    background-position: 0px -90px;
  }
  .Chile {
    background-position: -30px -90px;
  }
  .Colombia {
    background-position: -60px -90px;
  }
  .Costa-Rica {
    background-position: -90px -90px;
  }
  .Croatia {
    background-position: -120px 0px;
  }
  .Cuba {
    background-position: -120px -30px;
  }
  .Curacao {
    background-position: -120px -60px;
  }
  .Cyprus {
    background-position: -120px -90px;
  }
  .Czech-Republic {
    background-position: 0px -120px;
  }
  .Denmark {
    background-position: -30px -120px;
  }
  .Dominican-Republic {
    background-position: -60px -120px;
  }
  .Ecuador {
    background-position: -90px -120px;
  }
  .El-Salvador {
    background-position: -120px -120px;
  }
  .Estonia {
    background-position: -150px 0px;
  }
  .Finland {
    background-position: -150px -30px;
  }
  .France {
    background-position: -150px -60px;
  }
  .Georgia {
    background-position: -150px -90px;
  }
  .Germany {
    background-position: -150px -120px;
  }
  .Gibraltar {
    background-position: 0px -150px;
  }
  .Greece {
    background-position: -30px -150px;
  }
  .Guatemala {
    background-position: -60px -150px;
  }
  .Honduras {
    background-position: -90px -150px;
  }
  .Hungary {
    background-position: -120px -150px;
  }
  .India {
    background-position: -150px -150px;
  }
  .Ireland {
    background-position: -180px 0px;
  }
  .Israel {
    background-position: -180px -30px;
  }
  .Italy {
    background-position: -180px -60px;
  }
  .Japan {
    background-position: -180px -90px;
  }
  .Kazakhstan {
    background-position: -180px -120px;
  }
  .Kenya {
    background-position: 0px 0px;
  }
  .Kyrgyzstan {
    background-position: 0px -180px;
  }
  .Latvia {
    background-position: -30px -180px;
  }
  .Lithuania {
    background-position: -60px -180px;
  }
  .Macedonia {
    background-position: -90px -180px;
  }
  .Mexico {
    background-position: -120px -180px;
  }
  .Moldova {
    background-position: -150px -180px;
  }
  .Morocco {
    background-position: -180px -180px;
  }
  .Netherlands {
    background-position: -210px 0px;
  }
  .New-Zealand {
    background-position: -210px -30px;
  }
  .Nicaragua {
    background-position: -210px -60px;
  }
  .Norway {
    background-position: -210px -90px;
  }
  .Panama {
    background-position: -210px -120px;
  }
  .Paraguay {
    background-position: -210px -150px;
  }
  .Peru {
    background-position: -210px -180px;
  }
  .Poland {
    background-position: 0px -210px;
  }
  .Portugal {
    background-position: -30px -210px;
  }
  .Puerto-Rico {
    background-position: -60px -210px;
  }
  .Romania {
    background-position: -90px -210px;
  }
  .Russia {
    background-position: -120px -210px;
  }
  .Serbia {
    background-position: -150px -210px;
  }
  .Singapore {
    background-position: -180px -210px;
  }
  .Slovakia {
    background-position: -210px -210px;
  }
  .Slovenia {
    background-position: -240px 0px;
  }
  .South-Africa {
    background-position: -240px -30px;
  }
  .Spain {
    background-position: -240px -60px;
  }
  .Suriname {
    background-position: -240px -90px;
  }
  .Sweden {
    background-position: -240px -120px;
  }
  .Tajikistan {
    background-position: -240px -180px;
  }
  .Tunisia {
    background-position: -240px -210px;
  }
  .Turkey {
    background-position: 0px -240px;
  }
  .Turkmenistan {
    background-position: -30px -240px;
  }
  .Uganda {
    background-position: -60px -240px;
  }
  .UK {
    background-position: -90px -240px;
  }
  .Ukraine {
    background-position: -120px -240px;
  }
  .Uruguay {
    background-position: -150px -240px;
  }
  .USA {
    background-position: -180px -240px;
  }
  .Uzbekistan {
    background-position: -210px -240px;
  }
  .Venezuela {
    background-position: -240px -240px;
  }
  .Zimbabwe {
    background-position: -270px 0px;
  }
  .Switzerland {
    background-position: -240px -150px;
  }
}
